<!-- File name: style.css
Student’s Name: Seyeon Jo
StudentID: 301129230
Date: Wed Oct 4, 2023 -->

<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<main class="container">
  <section class="py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Projects</h1>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="/img/journal_app.png"
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              alt="Card Image"
            />
            <div class="card-body">
              <h3>Journal Web App</h3>
              <p class="card-text">
                This is a journal web app for keeping track of how your day was
                and how you felt.
              </p>
              <div class="d-flex justify-content-end align-items-center">
                <div class="btn-group">
                  <a href="https://seyeon-jo.github.io/gbc-journal-app/">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      View
                    </button>
                  </a>
                  <a href="https://github.com/Seyeon-Jo/gbc-journal-app">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary ml-2"
                    >
                      GitHub
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="/img/coding_app.png"
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              alt="Card Image"
            />
            <div class="card-body">
              <h3>Coding Practice Web App</h3>
              <p class="card-text">
                This is a coding practice web app for keeping track of what you
                learned and what you are studying.
              </p>
              <div class="d-flex justify-content-end align-items-center">
                <div class="btn-group">
                  <a href="https://seyeon-jo.github.io/coding-practice/">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      View
                    </button>
                  </a>
                  <a href="https://github.com/Seyeon-Jo/coding-practice">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary ml-2"
                    >
                      GitHub
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="/img/kakao_clone.png"
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              alt="Card Image"
            />
            <div class="card-body">
              <h3>KokoaTalk Clone</h3>
              <p class="card-text">
                This is a clone app of KakaoTalk which is Korean messenger
                platform.
              </p>
              <div class="d-flex justify-content-end align-items-center">
                <div class="btn-group">
                  <a
                    href="https://seyeon-jo.github.io/nomadcoder-kokoa-clone-2021/"
                  >
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      View
                    </button>
                  </a>
                  <a
                    href="https://github.com/Seyeon-Jo/nomadcoder-kokoa-clone-2021"
                  >
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary ml-2"
                    >
                      GitHub
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
