<!-- File name: style.css
Student’s Name: Seyeon Jo
StudentID: 301129230
Date: Wed Oct 4, 2023 -->

<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<main class="container">
  <section class="py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Services</h1>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card-body text-center card">
            <h3 class="fw-light mb-3">Front-End</h3>
            <img
              src="/img/frontend.png"
              class="bd-placeholder-img card-img-top mt-3"
              width="100%"
              height="100%"
              alt="Card Image"
            />
          </div>
        </div>
        <div class="col">
          <div class="card-body text-center card mb-3">
            <h3 class="fw-light mb-3">Back-End</h3>
            <img
              src="/img/backend.png"
              class="bd-placeholder-img card-img-top mt-3"
              width="100%"
              height="100%"
              alt="Card Image"
            />
          </div>
          <div class="card-body text-center card mb-3">
            <h3 class="fw-light mb-3">Deployment</h3>
            <img
              src="/img/deployment.png"
              class="bd-placeholder-img card-img-top mt-3"
              width="100%"
              height="100%"
              alt="Card Image"
            />
          </div>
        </div>
        <div class="col">
          <div class="card-body text-center card mb-3">
            <h3 class="fw-light mb-3">Mobile App</h3>
            <img
              src="/img/mobile-app.png"
              class="bd-placeholder-img card-img-top mt-3"
              width="100%"
              height="100%"
              alt="Card Image"
            />
          </div>
          <div class="card-body text-center card mb-3">
            <h3 class="fw-light mb-3">Communication</h3>
            <img
              src="/img/communication.png"
              class="bd-placeholder-img card-img-top mt-3"
              width="100%"
              height="100%"
              alt="Card Image"
            />
          </div>
          <div class="card-body text-center card">
            <h3 class="fw-light mb-3">Version Control</h3>
            <img
              src="/img/version-control.png"
              class="bd-placeholder-img card-img-top mt-3"
              width="100%"
              height="100%"
              alt="Card Image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
